@import url('reset.css');
/* General Demo Style */
body, html { font-size: 70%; padding: 0; margin: 0; height: 100%;}

body{
    
	color: #333;

	min-width: 1200px;
    min-height: 650px;
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 20px;
}
.container{
	background: url(../img/12.jpg) ;
	background-repeat: no-repeat;
	background-size: 100%;
	 position: relative;
    margin: 0px;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
.content{
	position:relative;
	margin-top: 15%;
}

/* Header Style */
.header{
	font-family: 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	background-color: rgba(45,42,42, 0.6);
	position: fixed;
	width: 100%;
	font-size: 3vw;
	
}

#h-text{
	color: #ffffff;
	font-weight: bold;
	
}
.footer{
	font-family:'Arial Narrow', Arial, sans-serif;
	background-color: rgba(45,42,42, 1);
	padding: 1px;
	position: absolute;
	text-align: center;
	color: #ffffff;
	width: 100%;
	height: 6%;
	bottom: 0px;
	right: 0px;
}

