/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,600);

@font-face {
    font-family: "Oxygen";
    src: url("font/Oxygen.otf") ;
}


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 70%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    color: #fff;
    background: #000;
    min-width: 1200px;
    min-height: 500px;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.container{
    position: relative;
    margin: 0px;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

#right-part{
    position: absolute;   
    height: 135%;
    width: 30%;
    top: -5%;
    right: -5%;
    font-family: "Oxygen";   
    color: #000;  
    background-color: #474747;
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    -transform: rotate(14deg);
     overflow: hidden;
}

@-webkit-keyframes rot1 {
    from {
        -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }

    to {
        -webkit-transform: rotateX(192deg) rotateY(60deg) rotateZ(122deg);
    }
}

@-webkit-keyframes rot2 {
    from {
        -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
    }

    to {
        -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }
}

@-webkit-keyframes rot3 {
    from {
        -webkit-transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
    }

    to {
        -webkit-transform: rotateX(113deg) rotateY(-60deg) rotateZ(72deg);
    }
}

@-webkit-keyframes rot4 {
    from {
        -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }

    to {
        -webkit-transform: rotateX(13deg) rotateY(-160deg) rotateZ(-12deg);
    }
}

@-webkit-keyframes rot5 {
    from {
        -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }

    to {
        -webkit-transform: rotateX(-102deg) rotateY(16deg) rotateZ(100deg);
    }
}

@-webkit-keyframes rot6 {
    from {
        -webkit-transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    }

    to {
        -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }
}

@-webkit-keyframes rot7 {
    from {
        -webkit-transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    }

    to {
        -webkit-transform: rotateX(13deg) rotateY(150deg) rotateZ(-75deg);
    }
}

@-webkit-keyframes rot8 {
    from {
        -webkit-transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    }

    to {
        -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }
}

@-webkit-keyframes rot9 {
    from {
        -webkit-transform: rotateX(63deg) rotateY(-20deg) rotateZ(-22deg);
    }

    to {
        -webkit-transform: rotateX(127deg) rotateY(75deg) rotateZ(-20deg);
    }
}

.transformed{
    height: 28%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    

}

#trans1{
    -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    -webkit-animation-name: rot1;
}

#trans2{
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
    -webkit-animation-name: rot2;
    margin-top: 10%;
}

#trans3{
    -webkit-transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
    margin-top: 35%;
    -webkit-animation-name: rot3;
}

#trans4{
    -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    margin-top: 58%;
    -webkit-animation-name: rot4;
}

#trans5{
    -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    margin-top: 88%;
    -webkit-animation-name: rot5;
}

#trans6{
    -webkit-transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    margin-top: 51%;
    -webkit-animation-name: rot6;
}

#trans7{
    -webkit-transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    margin-top: 90%;
    margin-left: -26%;
    -webkit-animation-name: rot7;
}

#trans8{
    -webkit-transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    margin-top: 136%;
    margin-left: -14%;
    -webkit-animation-name: rot8;
}

#trans9{
    -webkit-transform: rotateX(63deg) rotateY(-20deg) rotateZ(-22deg);
    margin-top: 119%;
    -webkit-animation-name: rot9;
    
}

#right-header{
    position: relative;
    width: 60%;
    margin: 10% 0% 5% 5%;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    -transform: rotate(-14deg);
}


#header-text{
    font-size: 1.5vw;
    font-weight: bold;
    
}
#mid-text{
    width: 60%;
    margin: 3% 0% 0% 5%;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    -transform: rotate(-14deg);
}

#mid-text h2{
   clear: both;
   font-size: 2.7vw;
   margin: 0
}

#mid-text p{
    font-size: 1.4vw;
    margin-top: 0;
}

/* menu css ======================================================*/
#contain-menu{
    width: 100%;
}

.main-menu{
    background-color: #86969F;
    border: 1px solid;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: 150%;
    margin-top: -10%;
    -moz-transform: rotate(28deg);
    width: 20%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
